.git
.gitignore
.cursor
.vscode
.idea

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

bootstrap/cache/*

.env
.env.*
!.env.example

npm-debug.log*
yarn-error.log*

public/hot
